main_video=$base_dir/water.short.mp4
main_caption_text="Chief Rabbi, Rav Natan Freller"

pre_title_text="8 Days of Light | Day 1"
pre_bg_color=0x1d518a
pre_title_color=white

main_caption_color=0x1d518a

post_title_text="www.etzhayim.net"
post_bg_color=$pre_bg_color
post_title_color=$pre_title_color

ffmpeg=/usr/local/bin/ffmpeg
logo=$base_dir/etz_logo.png
