main_caption_text="Rav Natan Freller"

pre_title_text="8 Nights of Torah"
pre_bg_color=0x1d518a
pre_title_color=white
pre_title_font_size=98
pre_title_y="(h-text_h)*.25"

pre_subtitle_text="Night 1"
pre_subtitle_font='KaushanScript-Regular.otf'
pre_subtitle_x="(w-text_w)/2"
pre_subtitle_y="(h-text_h)*.5"
pre_subtitle_font_size=80
pre_subtitle_color=white


main_caption_color=0x1d518a

post_title_text="www.etzhayim.net"
post_bg_color=$pre_bg_color
post_title_color=$pre_title_color

ffmpeg=/usr/local/bin/ffmpeg
logo=$base_dir/etz_logo.png
